In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [54]:
train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [55]:
test.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,ca9ad1d4b,fced9e114,3.0,Novice,Boiling Hot,f,U,oU,3.0,9.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,060a21580,7ca8775da,1.0,Novice,Cold,n,N,NaN,2.0,8.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,165e81a00,5940334c9,1.0,Expert,Warm,i,N,DN,2.0,6.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,77d41330d,6fbdeefc8,1.0,Expert,Hot,m,B,AG,1.0,6.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,2218d9dfe,2a27c8fde,1.0,Contributor,Lava Hot,o,J,DT,3.0,3.0

In [56]:
train.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [57]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
id        600000 non-null int64
bin_0     582106 non-null float64
bin_1     581997 non-null float64
bin_2     582070 non-null float64
bin_3     581986 non-null object
bin_4     581953 non-null object
nom_0     581748 non-null object
nom_1     581844 non-null object
nom_2     581965 non-null object
nom_3     581879 non-null object
nom_4     581965 non-null object
nom_5     582222 non-null object
nom_6     581869 non-null object
nom_7     581997 non-null object
nom_8     582245 non-null object
nom_9     581927 non-null object
ord_0     581712 non-null float64
ord_1     581959 non-null object
ord_2     581925 non-null object
ord_3     582084 non-null object
ord_4     582070 non-null object
ord_5     582287 non-null object
day       582048 non-null float64
month     582012 non-null float64
target    600000 non-null int64
dtypes: float64(6), int64(2), object(17)
memory usage: 114.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 24 columns):
id       400000 non-null int64
bin_0    388099 non-null float64
bin_1    387962 non-null float64
bin_2    388028 non-null float64
bin_3    388049 non-null object
bin_4    388049 non-null object
nom_0    387938 non-null object
nom_1    388053 non-null object
nom_2    387821 non-null object
nom_3    387824 non-null object
nom_4    388007 non-null object
nom_5    388088 non-null object
nom_6    387988 non-null object
nom_7    387997 non-null object
nom_8    388044 non-null object
nom_9    387940 non-null object
ord_0    388107 non-null float64
ord_1    387833 non-null object
ord_2    387895 non-null object
ord_3    387947 non-null object
ord_4    388067 non-null object
ord_5    387953 non-null object
day      387975 non-null float64
month    388016 non-null float64
dtypes: float64(6), int64(1), object(17)
memory usage: 73.2+ MB

In [58]:
print('mode for bin_0:', train.bin_0.mode(), 
      'mode for bin_1:', train.bin_1.mode(),
      'mode for bin_2:', train.bin_2.mode(),
      'mode for bin_3:', train.bin_3.mode(), 
      'mode for bin_4:', train.bin_4.mode())

mode for bin_0: 0    0.0
dtype: float64 mode for bin_1: 0    0.0
dtype: float64 mode for bin_2: 0    0.0
dtype: float64 mode for bin_3: 0    F
dtype: object mode for bin_4: 0    N
dtype: object

Fill Binary Missing values

In [59]:
bin_0 = train.bin_0.fillna(value = 0.0)
bin_1 = train.bin_1.fillna(value = 0.0)
bin_2 = train.bin_2.fillna(value = 0.0)
bin_3 = train.bin_3.fillna(value = 'F')
bin_4 = train.bin_4.fillna(value = 'N')

train['bin_0'] = bin_0
train['bin_1'] = bin_1
train['bin_2'] = bin_2
train['bin_3'] = bin_3
train['bin_4'] = bin_4

In [74]:
bin_0 = test.bin_0.fillna(value = 0.0)
bin_1 = test.bin_1.fillna(value = 0.0)
bin_2 = test.bin_2.fillna(value = 0.0)
bin_3 = test.bin_3.fillna(value = 'F')
bin_4 = test.bin_4.fillna(value = 'N')

test['bin_0'] = bin_0
test['bin_1'] = bin_1
test['bin_2'] = bin_2
test['bin_3'] = bin_3
test['bin_4'] = bin_4

In [64]:
train['nom_0'].value_counts()

Red      323286
Blue     205861
Green     52601
Name: nom_0, dtype: int64

In [65]:
train['nom_1'].value_counts()

Triangle     164190
Polygon      152563
Trapezoid    119438
Circle       104995
Square        26503
Star          14155
Name: nom_1, dtype: int64

In [66]:
train['nom_2'].value_counts()

Hamster    164897
Axolotl    152319
Lion       119504
Dog        104825
Cat         26276
Snake       14144
Name: nom_2, dtype: int64

In [67]:
train['nom_3'].value_counts()

India         164869
Costa Rica    151827
Russia        119840
Finland       104601
Canada         26425
China          14317
Name: nom_3, dtype: int64

In [68]:
train['nom_4'].value_counts()

Theremin    308621
Bassoon     196639
Oboe         49996
Piano        26709
Name: nom_4, dtype: int64

In [69]:
train['nom_5'].value_counts()

fc8fc7e56    977
360a16627    972
423976253    961
7917d446c    961
079b76328    960
            ...
7335087fd      5
30019ce8a      3
b3ad70fcb      1
0385d0739      1
d6bb2181a      1
Name: nom_5, Length: 1220, dtype: int64

In [70]:
train['nom_6'].value_counts()

ea8c5e181    805
9fa481341    798
2b94ada45    792
32e9bd1ff    788
b88220966    781
            ...
f7c893813      4
322548bed      3
b4b8de4b9      2
d6ea07c05      2
3a121fefb      1
Name: nom_6, Length: 1519, dtype: int64

In [71]:
train['nom_7'].value_counts()

4ae48e857    5035
c79d2197d    5031
86ec768cd    4961
a7059911d    4945
41901460a    4934
             ...
b39008216     195
1828818ab     182
75d0e3ef8     157
deec583dd      93
e9c57c4aa      79
Name: nom_7, Length: 222, dtype: int64

In [72]:
train['nom_8'].value_counts()

7d7c02c57    5052
15f03b1f4    4994
5859a8a06    4989
d7e75499d    4987
158183c63    4966
             ...
8d31d1ab3     207
4584d6fcd     174
607c26084     149
115d9fd8b     105
6492aecc3      61
Name: nom_8, Length: 222, dtype: int64

In [73]:
train['nom_9'].value_counts()

8f3276a6e    565
65b262989    564
c5361037c    560
9bc905a9d    558
01a1a04c5    557
            ...
47a0cd9da      2
1538d82e9      2
3d19cd31d      2
5f565a682      1
d1e6704ed      1
Name: nom_9, Length: 2218, dtype: int64

 I will be using One-hot encoding for nom_1 - nom_4 and frequency encoding for nom_5 - nom_9

In [75]:
nom_0 = train.nom_0.fillna(value = 'missing')
nom_1 = train.nom_1.fillna(value = 'missing')
nom_2 = train.nom_2.fillna(value = 'missing')
nom_3 = train.nom_3.fillna(value = 'missing')
nom_4 = train.nom_4.fillna(value = 'missing')
nom_5 = train.nom_5.fillna(value = 'missing')
nom_6 = train.nom_6.fillna(value = 'missing')
nom_7 = train.nom_7.fillna(value = 'missing')
nom_8 = train.nom_8.fillna(value = 'missing')
nom_9 = train.nom_9.fillna(value = 'missing')


train['nom_0'] = nom_0
train['nom_1'] = nom_1
train['nom_2'] = nom_2
train['nom_3'] = nom_3
train['nom_4'] = nom_4
train['nom_5'] = nom_5
train['nom_6'] = nom_6
train['nom_7'] = nom_7
train['nom_8'] = nom_8
train['nom_9'] = nom_9

In [76]:
nom_0 = test.nom_0.fillna(value = 'missing')
nom_1 = test.nom_1.fillna(value = 'missing')
nom_2 = test.nom_2.fillna(value = 'missing')
nom_3 = test.nom_3.fillna(value = 'missing')
nom_4 = test.nom_4.fillna(value = 'missing')
nom_5 = test.nom_5.fillna(value = 'missing')
nom_6 = test.nom_6.fillna(value = 'missing')
nom_7 = test.nom_7.fillna(value = 'missing')
nom_8 = test.nom_8.fillna(value = 'missing')
nom_9 = test.nom_9.fillna(value = 'missing')


test['nom_0'] = nom_0
test['nom_1'] = nom_1
test['nom_2'] = nom_2
test['nom_3'] = nom_3
test['nom_4'] = nom_4
test['nom_5'] = nom_5
test['nom_6'] = nom_6
test['nom_7'] = nom_7
test['nom_8'] = nom_8
test['nom_9'] = nom_9

In [77]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
id        600000 non-null int64
bin_0     600000 non-null float64
bin_1     600000 non-null float64
bin_2     600000 non-null float64
bin_3     600000 non-null object
bin_4     600000 non-null object
nom_0     600000 non-null object
nom_1     600000 non-null object
nom_2     600000 non-null object
nom_3     600000 non-null object
nom_4     600000 non-null object
nom_5     600000 non-null object
nom_6     600000 non-null object
nom_7     600000 non-null object
nom_8     600000 non-null object
nom_9     600000 non-null object
ord_0     581712 non-null float64
ord_1     581959 non-null object
ord_2     581925 non-null object
ord_3     582084 non-null object
ord_4     582070 non-null object
ord_5     582287 non-null object
day       582048 non-null float64
month     582012 non-null float64
target    600000 non-null int64
dtypes: float64(6), int64(2), object(17)
memory usage: 114.4+ MB